PORT=3030

ROUTEROS_BASE_URL=https://192.168.88.1
ROUTEROS_REST_PREFIX=/rest
ROUTEROS_USERNAME=admin
ROUTEROS_PASSWORD=change-me
ROUTEROS_ALLOW_INSECURE_TLS=true
ROUTEROS_TIMEOUT_MS=15000

# RouterOS action payload key for container target.
# Common value is "number" when sending container .id in POST body.
ROUTEROS_ACTION_TARGET_FIELD=.id

# Action: check
ROUTEROS_CHECK_METHOD=POST
ROUTEROS_CHECK_PATH=/container/check-for-updates
ROUTEROS_CHECK_SEND_TARGET=false
ROUTEROS_CHECK_BODY_JSON={}

# Action: update
ROUTEROS_UPDATE_METHOD=POST
ROUTEROS_UPDATE_PATH=/container/update
ROUTEROS_UPDATE_SEND_TARGET=true
ROUTEROS_UPDATE_BODY_JSON={}

# Action: rollback
ROUTEROS_ROLLBACK_METHOD=POST
ROUTEROS_ROLLBACK_PATH=/container/rollback
ROUTEROS_ROLLBACK_SEND_TARGET=true
ROUTEROS_ROLLBACK_BODY_JSON={}
